#Systemd service file for klipper

[Unit]
Description=Starts klipper on startup
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=root
RemainAfterExit=yes
WorkingDirectory=/opt/klipper
EnviromentFile=/opt/printer_data/systemd/klipper.env
ExecStart=/usr/bin/python $KLIPPER_ARGS
Restart=always
RestartSec=10
